<p id="notice"><%= notice %></p>

<p>
  <strong>Postal code:</strong>
  <%= @weather_station.postal_code %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @weather_station.lat %>
</p>

<p>
  <strong>Lon:</strong>
  <%= @weather_station.lon %>
</p>

<%= link_to 'Edit', edit_weather_station_path(@weather_station) %> |
<%= link_to 'Back', weather_stations_path %>
