<p id="notice"><%= notice %></p>

<p>
  <strong>Condition:</strong>
  <%= @measurement.condition %>
</p>

<p>
  <strong>Time:</strong>
  <%= @measurement.time %>
</p>

<p>
  <strong>Precitipation:</strong>
  <%= @measurement.precitipation %>
</p>

<p>
  <strong>Wind direction:</strong>
  <%= @measurement.wind_direction %>
</p>

<p>
  <strong>Wind speed:</strong>
  <%= @measurement.wind_speed %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= @measurement.temperature %>
</p>

<%= link_to 'Edit', edit_measurement_path(@measurement) %> |
<%= link_to 'Back', measurements_path %>
